/*
*
*
Autora: Desirée Menezes
@version: 0.1

*/

/* ===================== LAYOUT =======================*/
html, body, .fundo-capa {
	height: 100%;
}

body {
    background: url('imagens/parede_logo.png'),
				url('imagens/ruido.png'),
				linear-gradient(50deg,#ff4169,#26f8dc, #8e04bc);
	background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

/*=============== BARRA DE NAVEGAÇÃO =================*/
.logo {
    height: 100px;
    width: 60px;
    display: block;
    background: url('imagens/logo_senac.svg.png') no-repeat;
    background-size: contain;
}
navbar-header a img {
    height: 10px !important;
    overflow: hidden;
    display: inline-block;
    margin-top: -10px;
  }
a img {
    height: 120px !important;
    overflow: hidden;
    display: inline-block;
    margin-top: -45px;
}

.navbar-nav > li > a {
    padding-top: 50px !important;
}

.navbar-inverse .navbar-nav >li >a {
    color: white;
}

.navbar-inverse .navbar-nav >li >a:hover {
    color: #f826e7
}

.navbar-brand {
    padding: 30px 15px;
}

/*.divisor {
    width: 1px;
    height: 16px;
    background: white;
    margin: 30px 0px;
}*/

/*==================== IMAGEM CAPA ===================*/

.fundo-capa {
    display:table;
    width: 100%;

}
.texto-capa {
    text-align: center;
    color: white;
    display: table-cell;
    vertical-align: middle;
}


/*====================== TIPOGRAFIA ======================*/
h2 {
    font-family: 'BebasNeueRegular';
    font-weight: 500;
    font-style: normal;  
    font-size: 60px; 
    color: black;
}

h1 {
    font-family: 'BebasNeueRegular';
    font-weight: 500;
    font-style: normal;  
    font-size: 60px; 
    color: black;
}

h3 {
    color: black;
}

p {
    font-size: 18px;
}

/*=====================CONTAINER=========================*/
#informacoes{
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
#recursos {
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
}

.rotacionar{
	transform: rotate(30deg);
	-ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    padding-left: 80px;
}
/* -- rodape -- */
footer {
	background: #000;
	padding: 50px 0px 20px 0px;
	position: relative;
}

.item-rede-social{
	float: right;
}



#rodape h4 {
	color: #919496;
	font-size: 12px;
	text-transform: uppercase;
}

#servicos h2, #servicos h3 {
	color: #7c25f8;
}

#recursos h3 {
	color: #9bf0e1;
}

